/* ==========================================================================
Main page styles
========================================================================== */
input.ng-valid {
  border-left: 5px solid green;
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
}
input.ng-invalid {
  border: 1px solid rgb(138, 138, 138);
}
.error {
  color: red;
  background-color: white;
}
.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  //background: url('../../content/images/jhipster_family_member_2.svg') no-repeat center top;
  background-size: contain;
}
.background {
  background-color: white;
}
p {
  color: rgb(29, 29, 56);
  font-size: 12px;
}
.submith3 {
  color: rgb(29, 29, 56);
}
.enter {
  background-color: rgb(11, 214, 214, 0.4);
  font-size: 29px;
}
.penter {
  font-size: 19px;
}
.info {
  background-color: rgb(11, 214, 214, 0.1);
}
ul {
  list-style-type: none;
}
li {
  font-size: small;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
