<div class="">
  <div class="col-md-12 row">
    <div class="col-md-1">
      <img style="height: 85px; margin-right: 30px" class="rounded thumbnail img-responsive" src="../../content/images/logo.jpeg" alt="d" />
    </div>
    <div class="col-md-3 mt-3">
      <div>US SECURITIES AND</div>
      <div>EXCHANGE COMMISSION</div>
    </div>
  </div>

  <div class="col-md-7 mx-auto">
    <h3 class="display-5 font-weight-bold h3 submith3">Submit Payment</h3>

    <p class="col-md-12 mx-auto">
      To Submit an Sec filling free Freee payment using ACH, Credit or Debit Card enter the below information and click NEXT. You will
      verify your CIK and contact information before selecting a payment type and entering your payment information
    </p>

    <div style="border: 2px rgb(76, 0, 255)" class="enter">
      <div class="mx-auto col-md-12">
        <p class="col-md-5 mx-auto penter py-3">Enter the information</p>
      </div>
    </div>
    <div class="col-md-11 info mx-auto pb-5">
      <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
        <ul>
          <li style="font-size: 19px" class="">Your credentials and payment amount</li>
          <li>CIK*</li>
          <li>
            <input
              type="text"
              maxlength="10"
              (input)="inputValidato($event)"
              placeholder="323"
              name="cik"
              formControlName="cik"
              [(ngModel)]="mynumber"
              (focusout)="format()"
            />
          </li>
          <small class="error" *ngIf="cik.invalid && cik.touched">CIK is required</small>

          <li>CCC*</li>
          <li><input type="text" placeholder="123" name="ccc" formControlName="ccc" /></li>
          <small class="error" *ngIf="ccc.invalid && ccc.touched">CCC is required</small>
          <li>Payment Amount*</li>
          <li><input type="number" placeholder="123" name="payAmount" formControlName="payAmount" /></li>
          <small class="error" *ngIf="payAmount.invalid && payAmount.touched">Pay Amount is required</small>
          <li style="font-size: 19px" class="">Your Contact Information</li>
          <li>Name*</li>
          <li><input type="text" placeholder="your name" name="name" formControlName="name" /></li>
          <small class="error" *ngIf="name.invalid && name.touched">name is required</small>
          <li>Email*</li>
          <li><input type="email" placeholder="test@gmail.com" name="email" formControlName="email" /></li>
          <small class="error" *ngIf="email.invalid && email.touched">email is required</small>
          <li>Phone home*</li>
          <li>
            <input type="text" maxlength="10" (input)="inputValidato($event)" placeholder="0987654" name="phone" formControlName="phone" />
          </li>
          <small class="error" *ngIf="phone.invalid && phone.touched">phone is required enter 10 digits</small>
          <div class="row mx-auto">
            <button class="mt-2 mr-4" (click)="onClickClear()">Clear</button>
            <input class="forsubmit btn btn-success ml-5 mt-2" type="submit" value="Next" [disabled]="formdata.invalid" />
          </div>
        </ul>
      </form>
    </div>
  </div>
</div>
